// out: ./public/stylesheets/styles.css

@import './styles/normalize.less';
@import './styles/typography.less';
@import './styles/utilities.less';

@gray: #B2B2B2;

#main, #signupButton {
  transition: transform .8s ease-out;
  box-sizing: content-box;
}

#signupButton {
  border-top: 30px solid @gray;
  border-right: 30px solid @gray;
  top: -30px;
  right: -30px;
}

header {
  line-height: 10vh;
  padding-left: 5vmin;
}

main {
  height: 90%;
  width: 80%;
  position: absolute;
  bottom: -30px;
  left: -30px;
  background: black;
  color: white;
  border-left: 30px solid black;
  border-bottom: 30px solid black;
}

ul {
  padding: 20vh 10vw;

  @media screen and (min-width: 30em) {
    padding: 30vh 15vw;
  }

  li {
    margin-bottom: 0.3em;

    a:hover > .arrow {
        &:after {
          content: url('../arrow.svg');
        }
    }
  }
}



aside > * {
  height: 50vmin;
  position: absolute;
  top: 0;
  right: 0;
  background-color: @gray;
}

  aside {
    button {
    width: 50vmin;

    .text,
    .circles {
      display: inline-block;
      width: 250px;
      max-width: 100%;
      position: absolute;
      bottom: 4vmin;
      left: 6vmin;
    }

    .text {
      text-align: left;
      max-width: 100%;
      line-height: 250px;
      z-index: 1;
      overflow: visible;
      transition: transform 0.3s ease-out;
      transform-origin: center;

      &:hover {
          transition-delay: 0.2s;
          transform: scale(1.4);
      }

      @media screen and (min-width: 30em) {
        text-align: center;
      }
    }

    .circles {
      height: 250px;
      max-height: 100%;
      border: 1px solid transparent;
      border-radius: 50%;
      transition: filter 200ms ease-in-out;
      filter:
        drop-shadow(0px 0px transparent)
        drop-shadow(0px 0px transparent)
        drop-shadow(0px 0px transparent)
        drop-shadow(0px 0px transparent)
        drop-shadow(0px 0px transparent)
        drop-shadow(0px 0px transparent)
        drop-shadow(0px 0px transparent)
        drop-shadow(60px -60px transparent);
    }

    &:hover,
    &:focus {
      .circles {
        border-color: white;
        filter:
          drop-shadow(4px -4px white)
          drop-shadow(8px -8px white)
          drop-shadow(12px -12px white)
          drop-shadow(16px -16px white)
          drop-shadow(20px -20px white)
          drop-shadow(24px -24px white)
          drop-shadow(28px -28px white)
          drop-shadow(60px -60px transparent);
      }
    }
  }
}

form {
  width: 95vw;
  height: 70vh;
  background: @gray;
  padding: 40vh 10vw 0;
  z-index: 2;

  @media screen and (min-width: 30em) {
    padding: 25vh 55vmin 0 10vw;
  }

  label {
    display: block;
    color: white;
  }

  input {
    background-color: transparent;
    border-style: solid;
    border-color: black;
    border-width: 0 0 1px 0;
    width: 100%;
    margin-bottom: 1.5em;

    &:focus {
      outline: none;
    }
  }

  .close {
    position: absolute;
    left: 0;
    top: 0;
  }

  div {
    height: 50vmin;
    width: 50vmin;
    background-color: black;
    color: white;
    line-height: 50vmin;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 2;
    text-align: center;
  }

  button[type="submit"] {
    height: 50vmin;
    background-color: black;
    color: white;
    position: absolute;
    top: 0;
    right: 0;

    > span {
      display: inline-block;
      height: 15vmin;
      width: 15vmin;
      line-height: 15vmin;
      transition: all 200ms ease-in-out;
      box-shadow: none;

      span {
        position: relative;
        &:before {
          content: '';
          width: 100%;
          height: 2px;
          background-color: currentColor;
          position: absolute;
          z-index: 1;
          bottom: 0;
          left: 0;
          transform: scale(0);
          transform-origin: left;
        }
      }
    }

    &:hover > span {
      .box-shadow-generate(1px, 6px, 30);

      span:before {
        transform: scale(1);
        transition: 0.5s;
      }
    }
  }
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: right;

  button {
    width: 20vw;
    height: 20vmin;
  }
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 2;
  background-color: rgba(255, 255, 255, 0.95);

  transform: scaleY(0.01) scaleX(0);
  animation: unfoldIn 1000ms cubic-bezier(0.165, 0.84, 0.44, 1) 0ms forwards;

  &.hidden {
    display: none;
    transform: scale(0);
  }

  p {
    padding: 10vmin 15vmin 0;
  }

  address {
    padding: 0 15vmin;
  }

  @media screen and (min-width: 30em) {
    p {
      padding: 10vmin 25vmin 0;
    }

    address {
      padding: 0 25vmin;
    }
  }

  // p, address {
  //   padding: 0 20vmin;
  // }
}

@keyframes unfoldIn {
  0% {
    transform: scaleY(.003) scaleX(0);
  }
  50% {
    transform: scaleY(.003) scaleX(1);
  }
  100% {
    transform: scaleY(1) scaleX(1);
  }
}

button.close {
  height: 60px;
  width: 60px;
  margin: 20px 0 0 20px;
}

.box-shadow-generate(@white, @black, @n, @index: 1) when (@index =< @n) {
    box-shadow+: 0 0 0 @white white, 0 0 0 @index*@black black;
    .box-shadow-generate(@white + @black, @black, @n, (@index + 1));
}

.box {
  position: relative;
  height: 50px;
  width: 50px;
  line-height: 55px;
  display: inline-block;
  transition: 0.5s;
}

.box:before, .box:after {
  content: '';
  width: 100%;
  height: 100%;
  z-index: 3;
  position: absolute;
  top: 0;
  left: 0;
  transform: scale(0);
  transition: border-bottom border-left border-right border-top;
  transition-duration: 0.5s;
}

.foo:before {
  border-bottom: 1px solid black;
  border-left: 1px solid black;
  transform-origin: 0 100%;
}

.foo:after {
  border-top: 1px solid black;
  border-right: 1px solid black;
  transform-origin: 100% 0%;
}

.box:hover:after, .box:hover:before {
  transform: scale(1);
}


.link-effect-5 {
	a {
		// padding: 0 10px;
		color: #797878;
		text-shadow: none;
		position: relative;
		&:before {
			position: absolute;
			top: 0;
			left: 0;
			overflow: hidden;
			// padding: 0 10px;
			color: #fff;
			content: attr(data-hover);
      transition: .3s ease-out;
      transform: scale(1.4);
			opacity: 0;

		}
		&:hover{
			&:before{
        transform: scale(1);
				opacity: 1;
			}
		}
	}
}

.link-effect-2{
	overflow: hidden;
	a {
		overflow: hidden;
		height: 1em;
		color: #797878;
		font-weight: 400;
		 span {
			position: relative;
			display: inline-block;
			transition: .3s;
			&:before {
				color: white;
				position: absolute;
				top: 100%;
        // overflow: visible;
        width: calc(~'100% + 100px');
				content: attr(data-hover);
        background: url('../arrow.svg') center right / 100px no-repeat;
				font-weight: 800;
				transform: translate3d(0,0,0);
			}
		}
		&:hover{
			span{
				transform: translateY(-100%);
			}
		}
	}
}

.link-effect-14 {
	a {
		color: #797878;
		margin-left: -20px;
		padding: 10px 20px;
		position: relative;
		overflow: hidden;
		display: inline-block;
		transition: .3s ease-out;
		span:not(.arrow){
			&::before{
				width: 5px;
				height: 5px;
				background: transparent;
				content: "";
				position: absolute;
				left: 0;
				top: 0;
				border-top: 2px solid white;
				border-left: 2px solid white;
				transition: .3s;
				opacity: 0;
			}
			&::after{
				width: 5px;
				height: 5px;
				background: transparent;
				content: "";
				position: absolute;
				right: 0;
				bottom: 0;
				border-right: 2px solid white;
				border-bottom: 2px solid white;
				transition: .3s;
				opacity: 0;

			}
		}
		&::before {
			width: 5px;
			height: 5px;
			background: transparent;
			content: "";
			position: absolute;
			right: 0;
			top: 0;
			border-right: 2px solid white;
			border-top: 2px solid white;
			transition: .3s;
			opacity: 0;
		}
		&::after {
			width: 5px;
			height: 5px;
			background: transparent;
			content: "";
			position: absolute;
			left: 0;
			bottom: 0;
			border-left: 2px solid white;
			border-bottom: 2px solid white;
			transition: .3s;
			opacity: 0;
		}
		&:hover{
			color: white;
			&::before{
				opacity: 1;
				right: 5px;
				top: 5px;
			}
			&::after{
				opacity: 1;
				left: 5px;
				bottom: 5px;
			}
			span:not(.arrow){
				&::before{
					opacity: 1;
					left: 5px;
					top: 5px;
				}
				&::after{
					opacity: 1;
					right: 5px;
					bottom: 5px;
				}
			}
		}
	}
}

.link-effect-4 {
  background-color: black;
	a {
		padding: 5px 0;
		color: #797878;
		text-shadow: none;
		position: relative;
		&::before {
			position: absolute;
			top: 0;
			left: 0;
			overflow: hidden;
			padding: 5px 0;
			max-width: 0;
			border-bottom: 2px solid #fff;
			color: #fff;
			content: attr(data-hover);
			transition: max-width 0.5s;
		}
		&:hover{
			&::before{
				max-width: 100%;
			}
      &:after {
        width: 100px;
      }
		}

    &:after {
      content: '';
      display: inline-block;
      height: 2rem;
      width: 0;
      transition: width 0.4s 0.3s;
      background: url('../arrow.svg') bottom no-repeat;
    }
	}
}
