* {
  box-sizing: border-box;
  font-family: 'FFDINWebProLight';
}
html {
  background: #B2B2B2;
}
form {
  font-size: 1.2em;
  width: 80%;
  max-width: 400px;
  margin: 30vh auto 50px;
}
label {
  display: block;
}
input {
  font-size: inherit;
  padding: 10px;
  outline: none;
  width: 100%;
  border: none;
  border-bottom: 2px solid black;
  background: transparent;
}
h1 {
  font-size: 1.5em;
  margin-left: 10%;
}
table {
  width: 80%;
  margin: auto;
  border-collapse: collapse;
}
tr {
  border-bottom: 1px solid black;
}
th,
td {
  text-align: left;
  padding: 10px;
}
