* {
  box-sizing: border-box;
  font-family: 'FFDINWebProLight';
}
html {
  font-size: 1em;
  cursor: url('../default-cursor.png'), auto;
}
@media screen and (min-width: 30em) {
  html {
    font-size: 3vw;
  }
}
@media screen and (min-width: 55em) {
  html {
    font-size: 1.5em;
  }
}
body {
  margin: 0;
  overflow: hidden;
  height: 100vh;
  width: 100vw;
}
button,
a {
  cursor: url('../pointer-cursor.png'), auto;
}
button {
  border: none;
  background: transparent;
  outline: none;
}
a {
  color: currentColor;
}
li {
  list-style: none;
}
li a {
  text-decoration: none;
}
address {
  font-style: normal;
}
html {
  font-size: 1rem;
  cursor: url('../default-cursor.png'), auto;
}
@media screen and (min-width: 30em) {
  html {
    font-size: 3vw;
  }
}
@media screen and (min-width: 55em) {
  html {
    font-size: 1.5rem;
  }
}
header,
footer button {
  font-size: 1.2rem;
}
li {
  font-size: 2rem;
}
aside button,
form button,
form div {
  font-size: 1.4rem;
}
label {
  font-size: 1.4rem;
}
input {
  font-size: 1.3rem;
}
p,
address {
  font-size: 1rem;
}
.overflow-hidden {
  overflow: hidden;
}
#main,
#signupButton {
  transition: transform 0.8s ease-out;
  box-sizing: content-box;
}
#signupButton {
  border-top: 30px solid #B2B2B2;
  border-right: 30px solid #B2B2B2;
  top: -30px;
  right: -30px;
}
header {
  line-height: 10vh;
  padding-left: 5vmin;
}
main {
  height: 90%;
  width: 80%;
  position: absolute;
  bottom: -30px;
  left: -30px;
  background: black;
  color: white;
  border-left: 30px solid black;
  border-bottom: 30px solid black;
}
ul {
  padding: 20vh 10vw;
}
@media screen and (min-width: 30em) {
  ul {
    padding: 30vh 15vw;
  }
}
ul li {
  margin-bottom: 0.3em;
}
ul li a:hover > .arrow:after {
  content: url('../arrow.svg');
}
aside > * {
  height: 50vmin;
  position: absolute;
  top: 0;
  right: 0;
  background-color: #B2B2B2;
}
aside button {
  width: 50vmin;
}
aside button .text,
aside button .circles {
  display: inline-block;
  width: 250px;
  max-width: 100%;
  position: absolute;
  bottom: 4vmin;
  left: 6vmin;
}
aside button .text {
  text-align: left;
  max-width: 100%;
  line-height: 250px;
  z-index: 1;
  overflow: visible;
  transition: transform 0.3s ease-out;
  transform-origin: center;
}
aside button .text:hover {
  transition-delay: 0.2s;
  transform: scale(1.4);
}
@media screen and (min-width: 30em) {
  aside button .text {
    text-align: center;
  }
}
aside button .circles {
  height: 250px;
  max-height: 100%;
  border: 1px solid transparent;
  border-radius: 50%;
  transition: filter 200ms ease-in-out;
  filter: drop-shadow(0px 0px transparent) drop-shadow(0px 0px transparent) drop-shadow(0px 0px transparent) drop-shadow(0px 0px transparent) drop-shadow(0px 0px transparent) drop-shadow(0px 0px transparent) drop-shadow(0px 0px transparent) drop-shadow(60px -60px transparent);
}
aside button:hover .circles,
aside button:focus .circles {
  border-color: white;
  filter: drop-shadow(4px -4px white) drop-shadow(8px -8px white) drop-shadow(12px -12px white) drop-shadow(16px -16px white) drop-shadow(20px -20px white) drop-shadow(24px -24px white) drop-shadow(28px -28px white) drop-shadow(60px -60px transparent);
}
form {
  width: 95vw;
  height: 70vh;
  background: #B2B2B2;
  padding: 40vh 10vw 0;
  z-index: 2;
}
@media screen and (min-width: 30em) {
  form {
    padding: 25vh 55vmin 0 10vw;
  }
}
form label {
  display: block;
  color: white;
}
form input {
  background-color: transparent;
  border-style: solid;
  border-color: black;
  border-width: 0 0 1px 0;
  width: 100%;
  margin-bottom: 1.5em;
}
form input:focus {
  outline: none;
}
form .close {
  position: absolute;
  left: 0;
  top: 0;
}
form div {
  height: 50vmin;
  width: 50vmin;
  background-color: black;
  color: white;
  line-height: 50vmin;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
  text-align: center;
}
form button[type="submit"] {
  height: 50vmin;
  background-color: black;
  color: white;
  position: absolute;
  top: 0;
  right: 0;
}
form button[type="submit"] > span {
  display: inline-block;
  height: 15vmin;
  width: 15vmin;
  line-height: 15vmin;
  transition: all 200ms ease-in-out;
  box-shadow: none;
}
form button[type="submit"] > span span {
  position: relative;
}
form button[type="submit"] > span span:before {
  content: '';
  width: 100%;
  height: 2px;
  background-color: currentColor;
  position: absolute;
  z-index: 1;
  bottom: 0;
  left: 0;
  transform: scale(0);
  transform-origin: left;
}
form button[type="submit"]:hover > span {
  box-shadow: 0 0 0 1px white, 0 0 0 6px black, 0 0 0 7px white, 0 0 0 12px black, 0 0 0 13px white, 0 0 0 18px black, 0 0 0 19px white, 0 0 0 24px black, 0 0 0 25px white, 0 0 0 30px black, 0 0 0 31px white, 0 0 0 36px black, 0 0 0 37px white, 0 0 0 42px black, 0 0 0 43px white, 0 0 0 48px black, 0 0 0 49px white, 0 0 0 54px black, 0 0 0 55px white, 0 0 0 60px black, 0 0 0 61px white, 0 0 0 66px black, 0 0 0 67px white, 0 0 0 72px black, 0 0 0 73px white, 0 0 0 78px black, 0 0 0 79px white, 0 0 0 84px black, 0 0 0 85px white, 0 0 0 90px black, 0 0 0 91px white, 0 0 0 96px black, 0 0 0 97px white, 0 0 0 102px black, 0 0 0 103px white, 0 0 0 108px black, 0 0 0 109px white, 0 0 0 114px black, 0 0 0 115px white, 0 0 0 120px black, 0 0 0 121px white, 0 0 0 126px black, 0 0 0 127px white, 0 0 0 132px black, 0 0 0 133px white, 0 0 0 138px black, 0 0 0 139px white, 0 0 0 144px black, 0 0 0 145px white, 0 0 0 150px black, 0 0 0 151px white, 0 0 0 156px black, 0 0 0 157px white, 0 0 0 162px black, 0 0 0 163px white, 0 0 0 168px black, 0 0 0 169px white, 0 0 0 174px black, 0 0 0 175px white, 0 0 0 180px black;
}
form button[type="submit"]:hover > span span:before {
  transform: scale(1);
  transition: 0.5s;
}
footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: right;
}
footer button {
  width: 20vw;
  height: 20vmin;
}
.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 2;
  background-color: rgba(255, 255, 255, 0.95);
  transform: scaleY(0.01) scaleX(0);
  animation: unfoldIn 1000ms cubic-bezier(0.165, 0.84, 0.44, 1) 0ms forwards;
}
.overlay.hidden {
  display: none;
  transform: scale(0);
}
.overlay p,
.overlay address {
  padding: 0 20vmin;
}
@keyframes unfoldIn {
  0% {
    transform: scaleY(0.003) scaleX(0);
  }
  50% {
    transform: scaleY(0.003) scaleX(1);
  }
  100% {
    transform: scaleY(1) scaleX(1);
  }
}
button.close {
  background: transparent url('../cross.svg') center / 70% no-repeat;
  height: 70px;
  width: 70px;
  margin: 20px 0 0 20px;
}
.box {
  position: relative;
  height: 50px;
  width: 50px;
  line-height: 55px;
  display: inline-block;
  transition: 0.5s;
}
.box:before,
.box:after {
  content: '';
  width: 100%;
  height: 100%;
  z-index: 3;
  position: absolute;
  top: 0;
  left: 0;
  transform: scale(0);
  transition: border-bottom border-left border-right border-top;
  transition-duration: 0.5s;
}
.foo:before {
  border-bottom: 1px solid black;
  border-left: 1px solid black;
  transform-origin: 0 100%;
}
.foo:after {
  border-top: 1px solid black;
  border-right: 1px solid black;
  transform-origin: 100% 0%;
}
.box:hover:after,
.box:hover:before {
  transform: scale(1);
}
.link-effect-5 a {
  color: #797878;
  text-shadow: none;
  position: relative;
}
.link-effect-5 a:before {
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  color: #fff;
  content: attr(data-hover);
  transition: 0.3s ease-out;
  transform: scale(1.4);
  opacity: 0;
}
.link-effect-5 a:hover:before {
  transform: scale(1);
  opacity: 1;
}
.link-effect-2 {
  overflow: hidden;
}
.link-effect-2 a {
  overflow: hidden;
  height: 1em;
  color: #797878;
  font-weight: 400;
}
.link-effect-2 a span {
  position: relative;
  display: inline-block;
  transition: .3s;
}
.link-effect-2 a span:before {
  color: white;
  position: absolute;
  top: 100%;
  width: calc(100% + 100px);
  content: attr(data-hover);
  background: url('../arrow.svg') center right / 100px no-repeat;
  font-weight: 800;
  transform: translate3d(0, 0, 0);
}
.link-effect-2 a:hover span {
  transform: translateY(-100%);
}
.link-effect-14 a {
  color: #797878;
  margin-left: -20px;
  padding: 10px 20px;
  position: relative;
  overflow: hidden;
  display: inline-block;
  transition: 0.3s ease-out;
}
.link-effect-14 a span:not(.arrow)::before {
  width: 5px;
  height: 5px;
  background: transparent;
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  border-top: 2px solid white;
  border-left: 2px solid white;
  transition: .3s;
  opacity: 0;
}
.link-effect-14 a span:not(.arrow)::after {
  width: 5px;
  height: 5px;
  background: transparent;
  content: "";
  position: absolute;
  right: 0;
  bottom: 0;
  border-right: 2px solid white;
  border-bottom: 2px solid white;
  transition: .3s;
  opacity: 0;
}
.link-effect-14 a::before {
  width: 5px;
  height: 5px;
  background: transparent;
  content: "";
  position: absolute;
  right: 0;
  top: 0;
  border-right: 2px solid white;
  border-top: 2px solid white;
  transition: .3s;
  opacity: 0;
}
.link-effect-14 a::after {
  width: 5px;
  height: 5px;
  background: transparent;
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  border-left: 2px solid white;
  border-bottom: 2px solid white;
  transition: .3s;
  opacity: 0;
}
.link-effect-14 a:hover {
  color: white;
}
.link-effect-14 a:hover::before {
  opacity: 1;
  right: 5px;
  top: 5px;
}
.link-effect-14 a:hover::after {
  opacity: 1;
  left: 5px;
  bottom: 5px;
}
.link-effect-14 a:hover span:not(.arrow)::before {
  opacity: 1;
  left: 5px;
  top: 5px;
}
.link-effect-14 a:hover span:not(.arrow)::after {
  opacity: 1;
  right: 5px;
  bottom: 5px;
}
.link-effect-4 {
  background-color: black;
}
.link-effect-4 a {
  padding: 5px 0;
  color: #797878;
  text-shadow: none;
  position: relative;
}
.link-effect-4 a::before {
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  padding: 5px 0;
  max-width: 0;
  border-bottom: 2px solid #fff;
  color: #fff;
  content: attr(data-hover);
  transition: max-width 0.5s;
}
.link-effect-4 a:hover::before {
  max-width: 100%;
}
.link-effect-4 a:hover:after {
  width: 100px;
}
.link-effect-4 a:after {
  content: '';
  display: inline-block;
  height: 2rem;
  width: 0;
  transition: width 0.4s 0.3s;
  background: url('../arrow.svg') bottom no-repeat;
}
